# Virtual Environment
/venv
/env
__pycache__/

# Python Dependencies
*.pyc

# ML Model Files (Should be stored in MongoDB, but ignore local copies)
*.pkl
*.joblib
*.h5
*.npy

# Environment
.env
.env.local

arugam_bay_historical_data_fixed.json
weligama_historical_data_fixed.json